
.Cont {
  margin-bottom: 24px
}

.Inquiry a{
  text-decoration: none;
  color: #222;
}

.Inquiry:hover {
  box-shadow: 10x 3px 5px #666;;
}

.App {
  padding: 24px;
  background-color: #fefefe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Button {
  width: 120px
}